body{
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,14,24,0.9831582291119573) 58%, rgba(70,6,113,1) 100%);
  background-size: cover;

  
  place-items: center;
  justify-content: center;
  font-family: "google sans", sans-serif ;
}


.fade-in-section{
  opacity:0;
  transform:translateY(20vh);
  visibility: hidden;
  transition: opacity 1200ms ease-out, transform 600ms ease-out , visiblity 1200ms ease-out;
  will-change: opacity , tansform , visibility;
}

.fade-in-section.is-visible{
  opacity:1;
  transform:none;
  visibility: visible;
}

.Logo-Part{
  height: 150px;
  width: 150px;
  margin-right: 950px;
  margin-top: -90px;
}

.toolbar{
  border-radius: 15px;
  width:820px;
  height: 50px;
  margin-top:-64px;
  margin-left: 10px;
  background-color: transparent;
  text-align: center;
  z-index: 1 ;
}


ul li{
  list-style: none;
  display: inline-block;
  margin:10px , 0;
  padding: 10px;
  margin-top: 9px;
  
}

ul li a{
  color: white;
  text-shadow:-0.3px 0.3px 0 #000,
        0.3px 0.3px 0 #000,
         0.3px -0.3px 0 #000,
        -0.3px -0.3px 0 #000;
  display:block;
  padding: none;
  margin-top: -20px;
  margin-right: 20px;
  padding:10px 25px;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 28px;
  position: relative;
  letter-spacing: 2px;
  z-index: 1;
}


ul li a::before{
  content:'';
  position: absolute;
  top:0;
  left:0;
  height:100%;
  width:0;
  background: rgb(93, 52, 168);
  z-index:-1;
  box-shadow: 0 0 10px rgb(93, 52, 168),
              0 0 20px rgb(93, 52, 168),
              0 0 40px rgb(93, 52, 168),
              0 0 80px rgb(93, 52, 168),
              0 0 100px rgb(93, 52, 168);
  border-radius: 20px;
  transition: 0.25s;
}



ul li a:hover::before{
  z-index: -1 ;
  width:100%;
  transition: 0.25s;
  
}

.scrolling{
  overflow: auto;
  border: solid 2px black;
  border-radius: 20px;
  background-color:grey;
}


.CenterPart{
  color: white;
  margin-top: 150px;
  font-size: 32px;
  width:700px;
  height:fit-content;
  text-align: center;
}

.CenterPart p{
  font-size: 27px;
}




.Description{
  
  margin-top: 250px;
  height: 100px;
  width:200px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,14,24,0.9831582291119573) 58%, rgba(70,6,113,1) 100%);  display: relative;
  border-radius: 20px;
  color: white;
  transition:height 0.5s;
  -webkit-transition: 0.5s;
  text-align: center;
  overflow: hidden;
  transition:1.5s;
  font-size: 15px;

}

.About-Part{
  margin-top: 25px;
  height: 100px;
  width:200px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,14,24,0.9831582291119573) 58%, rgba(70,6,113,1) 100%);  display: relative;  border-radius: 20px;
  color: white;
  font-size: 15px;
  transition:height 0.5s;
  -webkit-transition: 0.5s;
  text-align: center;
  overflow: hidden;
  transition:1.5s;
}

.Functionals{
  margin-top: 25px;
  margin-bottom: 20px;
  height: 100px;
  width:200px;
  background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(18,14,24,0.9831582291119573) 58%, rgba(70,6,113,1) 100%);  display: relative;
  border-radius: 20px;
  color: white;
  text-align: center;
  font-size: 15px;
  overflow:hidden;
  transition:height 0.5s;
  -webkit-transition: 0.5s;
  transition:1.5s ease-in-out;
}


.Fading{
  opacity:0;
  
  position:relative;
  transition: opacity 3s;
  visibility: hidden;
}



.Description:hover {
  font-size: 20px;
  height: 300px;
  width: 800px;
  margin-left: 0.65%;
  box-shadow: 0 0 10px rgb(253, 253, 253),
  0 0 20px rgb(253, 253, 253),
  0 0 40px rgb(253, 253, 253),
  0 0 80px rgb(253, 253, 253),
  0 0 100px rgb(253, 253, 253);
  border: solid 2px white;
}

.About-Part:hover{
  font-size: 20px;
  height: 300px;
  width: 800px;
  margin-left: 0.65%;
  box-shadow: 0 0 10px rgb(253, 253, 253),
  0 0 20px rgb(253, 253, 253),
  0 0 40px rgb(253, 253, 253),
  0 0 80px rgb(253, 253, 253),
  0 0 100px rgb(253, 253, 253);
}

.Functionals:hover{
  font-size: 20px;
  height: 300px;  
  width: 800px;
  margin-left: 0.65%;
  box-shadow: 0 0 10px rgb(253, 253, 253),
              0 0 20px rgb(253, 253, 253),
              0 0 40px rgb(253, 253, 253),
              0 0 80px rgb(253, 253, 253),
              0 0 100px rgb(253, 253, 253);
}

.Description:hover .Fading{
  text-align: center;
  visibility: visible;
  padding-left: 3px;
  padding-right: 3px;
  opacity:1;
}

.About-Part:hover .Fading{
  text-align: center;
  visibility: visible;
  padding-left: 3px;
  padding-right: 3px;
  opacity:1;
}

.Functionals:hover .Fading{
  text-align: center;
  visibility: visible;
  padding-left: 3px;
  padding-right: 3px;
  justify-content: center;
  opacity:1;
}

.CenterButton{
  font-size: 25px;
  text-transform: uppercase;
  color: black;
  font-weight: 500;
  border: none ;
  margin-top:20px;
  background-color: hsl(261, 53%, 43%);;
  height: 90px;
  width:200px;
  border-radius: 30px;
  font-weight: 100;
  cursor: pointer;
  position: relative;
  display: inline;
  -webkit-box-reflect: below 1px linear-gradient(transparent , #0005);
}

.ButtonText{
  visibility: visible;
}

.CenterButton:hover{
  background-color: rgb(93, 52, 168);
  color: black;
  animation: glow 0.3s forwards;
  transition:1s;
  visibility: visible;
}


.SignIn{
  border-radius: 20px;
  display: flex;
  margin-top: 30px;
  margin-left: 1200px;
  font-size: 25px;
  text-transform: uppercase;
  color:black;
  font-weight: 500;
  border: none ;
  background-color: rgb(93, 52, 168);
  height: 50px;
  width:150px;

  cursor: pointer;
  position: relative;
  display: inline;
}
.SignInText{
  visibility: visible;
}

.SignIn:hover{

  animation: glow 0.1s forwards;
  transition:2s;
  visibility: visible;
}










@keyframes glow{
  0%{
  box-shadow: 3px 3px 40px rgb(249, 249, 249),-3px -3px 20px rgb(249, 249, 249);}
  
  50%{
  box-shadow: 3px 3px 40px rgb(81, 224, 210),-3px -3px 40px rgb(81, 224, 210)
  }
  100%{
  box-shadow: 3px 3px 1000px rgb(93, 52, 168),-3px -3px 1000px rgb(93, 52, 168)
  }
}

