.container{
    display: flex;
    flex-direction:column;
    margin:auto;
    width: 630px;
   
    box-shadow: 1px 1px 60px violet;
    border-width:  0.5px;
    border-color: violet;
    border-radius: 75px;
    margin-top: 10%;
    background-color: black;
    padding-bottom: 30px;
  
}


.header{
    display: flex;
    flex-direction: column;
    align-items:center;
    gap: px;
    width: 100%;
    margin-top: 60px;
}

.text{
    color:violet;
    font-size: 48px;
    font-weight: 700;
    font-family:monospace;
}

.underline{
    width: 61px;
    height: 6px;
    margin-top: 10px;
    background-color:violet;
    border-radius: 9px;
}

.inputs{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}
  

.input{
    display:flex;
    align-items:center;
    margin: auto;
    width: 480px;
    height: 60px;
    border: solid;
    border-width: 1px;
    border-color: violet;
    background:white;
    border-radius: 6px;

}


.input img{
    margin: 0px 30px;

}

.input input{
    height: 50px;
    width: 400px;
    background: transparent;
    border: none;
    outline: none;
    color:black;
    font-size: 19px;
}

.passwordimg{
    width:30px;
    }
    
    .userimg{
    width:30px;    
    }
    
    .emailimg{
    width: 30px;
    }
    
.forgot-password{
    text-align: center;
    margin-top: 27px;
    color:white;
    font-size: 18px;
}

.forgot-password span{
    color:violet;
    cursor: pointer;
}

.forgot-password span:hover{
    text-shadow:  0 0 20px whitesmoke;
}


.submit-container{
    display:grid;
    gap: 30px;
    margin: 60px auto;
}

.submit{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 59px;
    border: solid;
    border-width: 1px;
    border-color: violet;
    color: black;
    background:violet;
    border-radius: 50px;
    font-size: 19px;
    font-weight: 700;
    cursor: pointer;
}

.submit:hover{
 box-shadow:
   inset 0 0 50px whitesmoke,      /* inner white */
   inset 20px 0 80px whitesmoke,   /* inner left magenta short */
   inset -20px 0 80px whitesmoke,  /* inner right cyan short */
   inset 20px 0 30px whitesmoke,  /* inner left magenta broad */
   inset -20px 0 30px whitesmoke, /* inner right cyan broad */
   0 0 1px whitesmoke,            /* outer white */
   -10px 0 50px whitesmoke,        /* outer left magenta */
   10px 0 50px whitesmoke;  
   color: black;
   border-color: whitesmoke;
}

.gray{
    background: black;
    color: violet;
}

 

